.reports-body {
	margin: 20px 0;
}


.reports-table {
	margin:0px;padding:0px;
	min-width:350px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.reports-table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.reports-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.reports-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.reports-table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.reports-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.reports-table tr:hover td{
	
}
.reports-table tr:nth-child(odd){ background-color:#76a1f7; }
.reports-table tr:nth-child(even)    { background-color:#ffffff; }.reports-table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.reports-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.reports-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.reports-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.reports-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.reports-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}